.navbar{
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content:center;
}

.navbar .nav-links{
  display: flex;
  align-items: center;
  justify-content: center;
  a{
    margin: 0 1rem 0 1rem;
    color: rgb(78, 78, 78);
    font-size: 1.5rem;
  }

}
.navbar .user-search{
  display: flex;
  align-items: center;
  position: absolute;
  right: 5rem;
  span{
    margin: 0 1rem 0 1rem;
  }
}

.fa-search{
  cursor: pointer;
}

.profile-pic img{
  width: 40px;
  height: 40px;
  border-radius:100%;
}