.write {
  .container {
    margin-top: 2rem;
  }
  .form-group {
    margin: 0.5rem 0 0.5rem 0;
  }
  .bcontent{
    height:200px;
  }

  .file-upload .file-upload-select {
    display: block;
    color: #dbdbdb;
    cursor: pointer;
    text-align: left;
    background: #1a242f;
    overflow: hidden;
    position: relative;
    border-radius: 6px;
  }
  .file-upload .file-upload-select .file-select-button {
    background: #161f27;
    padding: 10px;
    display: inline-block;
  }
  .file-upload .file-upload-select .file-select-name {
    display: inline-block;
    padding: 10px;
  }
  .file-upload .file-upload-select:hover .file-select-button {
    background: #324759;
    color: #ffffff;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }
  .file-upload .file-upload-select input[type="file"] {
    display: none;
  }

  .btn-file {
    position: relative;
    overflow: hidden;
  }

  .btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }

  input[readonly] {
    background-color: white !important;
    cursor: text !important;
  }
}
