@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Karla", sans-serif;
  min-height: 100%;
  background: #d1f0ed; 
  background-attachment: fixed;
}
  

a {
  text-decoration: none;
}


@import "./_home.scss";
@import "./login_signup";
@import "./_navbar.scss";

